@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --dark: #17181E;
    --blue: #849BEB;
    --lightBlue: #C4D5FC;
    --green: #25D952;
    --light: #F0F0F1;
    --gray: #6B6B7C;
    --dimmedLight: #BBBBBB;
    --pink: #DDC2D4;
    --content: #1E1F27;
    --hover-color: rgba(255, 141, 141, 0.15);
    --green-hover: rgba(37, 217, 82, 0.3);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    font-family: 'Inter';
    color: var(--light);
}
    
    
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

#container .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

#container .top img{
    width: 200px;
}

#container .top h1{
    font-size: 36px;
    font-weight: 600;
    margin: 10px 0px;
}

#container .button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dimmedLight);
    border-radius: 10px;
    padding: 32px;
    gap: 10px;
    margin-bottom: 24px;
}   

#container .button p{
    margin: 0%;
    font-size: 18px;
}

#container .button #user-input{
    height: 30px;
    width: 240px;
    border: 1px solid var(--dimmedLight);
    border-radius: 5px;
    background-color: var(--content);
    color: var(--light);
    text-align: center;
}

#container .button #purchase-btn{
    width: 160px;
    height: 30px;
    background-color: var(--green);
    color: var(--light);
    border-radius: 5px ;
    font-size: 16px;
}

#container .cashplace{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#container .cashplace .text{
    margin-right: 60px;
    background-color: var(--content);
    padding: 10px;
    border-radius: 10px;
}

.cashplace .text h2{
    margin: 0%;
    background-color: var(--blue);
    padding: 5px;
    border-radius: 5px;
    color: var(--content);
    font-size: 24px;
}

#container .cashplace .box{
    height: 20px;
    width: 60px;
    background-color: var(--content);
    margin-right: 60px;
}

#container .cashplace .cashier{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    background-color: var(--content);
    padding: 10px;
    border-radius: 50px 50px 0px 0px;
}

.cashplace .cashier #grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
    background-color: var(--dark);
    border-radius: 10px;
}

.grid-item {
    background-color: var(--content);
    color: var(--dimmedLight);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.cashplace .cashier #change{
    margin-left: 60px;
    background-color: var(--gray);
    padding: 10px;
    border-radius: 10px;
}

.cashplace .cashier #change h3{
    margin: 10px 0px;
    font-size: 18px;
}

.cashplace .cashier #change p{
    font-size: 18px;
    margin: 5px 0px;
}

#container .bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 419.97px;
    height: 60px;
    background-color: var(--content);
}

#container .bottom .circle{
    height: 20px;
    width: 20px;
    background-color: var(--dark);
    border-radius: 20px;
}